<% other_user = current_user.sender?(chat) ? chat.recipient : chat.sender %>
<%= link_to chat do %>
  <div class="row chat">
    <% if chat.messages.any? %>
      <div class="col-md-4">
        <%= other_user.full_name %>
        <%= chat.messages.last.message_time %>
      </div>
      <div class="col-md-8">
        <%= chat.messages.last.body %>
      </div>
    <% end %>
  </div>
<% end %>
