<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Your Chats</div>
      <div class="panel-body">
        <div class="container">
          <%= render @chats %>
        </div>
      </div>
    </div>
  </div>
</div>
