<div class="chat_appointment">
  <div class="appointment-time"><%= appointment.appointment_time %></div>
  <div class="appointment-body"><%= appointment.guest.first_name %> accepted your appointment request.</div>
  <div class="appointment-button">
    <div class="btn btn-default btn-primary appointment-dismiss">Dismiss</div>
  </div>
</div>
